@font-face {
    font-family: "FC Palette";
    src: url('../fonts/FC Palette.ttf') format('truetype'),
}

:root {
    --primary-color: #dca35e;
    --secondary-color: #fff6eb;
    --primary-text-color: #ffffff;
    --secondary-text-color: #955202;
}

* {
    font-family: 'FC Palette', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background: linear-gradient(to bottom, var(--secondary-color) 80%, var(--primary-color) 20%);
}

.cloud_rows {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;
}

.cloud {
    background-image: url('../images/cloud.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-size: 300%;

    margin-top: -60px;
    margin-left: -140px;
}

.cloud:nth-child(2) {
    margin-top: -40px;
    margin-right: -120px;
}

.question {
    font-size: 48px;
    color: var(--secondary-text-color);
}

.choice {
    font-size: 32px;
    color: var(--secondary-text-color);
    border: 2px dashed var(--secondary-text-color);
    background-color: #fff;
    padding: 16px 20px 8px 20px;
    margin: 10px;
    border-radius: 10px;
    cursor: pointer;
    
    transition: all 0.2s;
}

.choice:hover {
    background-color: var(--secondary-text-color);
    color: var(--primary-text-color);
}

.cat_footer {
    background-image: url('../images/cat_box.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-size: 300%;

    position: fixed;
    bottom: 0;
    right: 0;
}

@media screen and (max-width: 375px) {
    .cloud {
        width: 300px;
        height: 300px;
    }

    .question {
        font-size: 36px;
    }

    .choice {
        font-size: 22px;
    }
    
    .cat_footer  {
        width: 300px;
        height: 300px;
    }
}