/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Kanit:wght@300;400;500;600&family=Noto+Sans+Thai:wght@100..900&display=swap'); */
@font-face {
    font-family: "FC Palette";
    src: url('fonts/FC Palette.ttf') format('truetype'),
}

:root {
    --primary-color: #dca35e;
    --secondary-color: #fff6eb;
    --primary-text-color: #ffffff;
    --secondary-text-color: #955202;
}

/* #955202 */

* {
    font-family: 'FC Palette', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    background-color: #dca35e;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sub_title {
    font-size: 32px;
    color: var(--primary-text-color);
    text-shadow: 2px 2px 0 var(--secondary-text-color);

    letter-spacing: 4px;

    text-align: center;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cloud_rows {
    width: 100%;
    display: flex;
    justify-content: space-between;

    position: fixed;
}

.cloud_rows:nth-child(3) {
    z-index: -1;
    top: 540px;
}

.content_title {
    font-size: 108px;
    color: var(--primary-text-color);
    text-shadow: 8px 8px 0 var(--secondary-text-color);
    letter-spacing: 4px;
    line-height: 1.2;

    text-align: center;
}

.cloud {
    background-image: url('images/cloud.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-size: 300%;

    margin-top: -60px;
    margin-left: -140px;

    animation: moveUpDown 1s infinite alternate ease-in-out;
}

.cloud:nth-child(2) {
    margin-top: -40px;
    margin-right: -120px;

    animation: moveDownUp 1s infinite alternate ease-in-out;
}

.footer_img {
    background-image: url('images/cat_cloud_1.png');
    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: left -420px bottom -150px;
    background-size: 300%;

    margin-top: 60px;
    margin-left: -50px;
}

.footer_img:nth-child(2) {
    background-image: url('images/cat_cloud_3.png');
    background-position: center;
}

.footer_img:nth-child(3) {
    background-image: url('images/cat_cloud_2.png');
    background-size: 300%;
    background-position: right -420px bottom -120px;

    margin-top: 30px;
    margin-right: -50px;
}

.cta_btn {
    background-color: var(--secondary-color);
    font-size: 24px;
    color: var(--secondary-text-color);

    margin-top: 16px;
    padding: 8px 16px 0 16px;

    border: none;
    cursor: pointer;

    border-radius: 16px;

    transition: all 0.3s;
}

.cta_btn:hover {
    font-size: 26px;
}

.submit_btn {
    background-color: var(--secondary-color);
    font-size: 24px;
    color: var(--secondary-text-color);

    margin-top: 16px;
    padding: 8px 16px 0 16px;

    border: none;
    cursor: pointer;

    border-radius: 16px;

    transition: all 0.2s;
}

.submit_btn:hover {
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}

@keyframes moveUpDown {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); } /* ขยับขึ้น 20px */
}
@keyframes moveDownUp {
    0% { transform: translateY(0); }
    100% { transform: translateY(20px); } /* ขยับลง 20px */
}

.modal {
    display: none; /* ซ่อน modal ไว้ก่อน */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    width: 500px;
    margin: 15% auto;
    text-align: center;
    position: relative;

    display: flex;
    flex-direction: column;
}

.modal_text {
    font-size: 48px;
    color: var(--secondary-text-color);
}

.modal_input {
    font-size: 24px;
    padding: 8px;
    margin: 16px 0;
    border: 2px dashed var(--secondary-text-color);
    border-radius: 8px;
    outline: none;

    color: var(--secondary-text-color);
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
    cursor: pointer;
}

@media screen and (max-width: 925px) {
   .content_title {
       font-size: 72px;
   }
}

@media screen and (max-width: 800px) {
   .content_title {
       font-size: 60px;
       text-shadow: 6px 6px 0 var(--secondary-text-color);
   }

   .sub_title {
        font-size: 30px;
   }
}

@media screen and (max-width: 375px) {
    .cloud {
        width: 300px;
        height: 300px;
        margin-top: -30px;
    }

    .content_title {
        font-size: 36px;
        text-shadow: 4px 4px 0 var(--secondary-text-color);
        margin-bottom: 8px;
    }

    .sub_title {
        font-size: 18px;
        text-align: center;
        margin: 0 20px 0 20px;
    }

    .footer_img {
        width: 300px;
        height: 300px;
    }

    .modal-content {
        width: 300px;
    }

    .modal_text {
        font-size: 24px;    
    }
}

@media screen and (max-height: 800px) {
    .cloud_rows:nth-child(3) {
        top: 340px;
    }

}